@import "variable.css";
@import "window.css";
@import "document.css";
@import "misc.css";
@import "syntax.css";

meta {
  -theme-interface-style: dark;
  -theme-vibrancy: vibrant;
  -theme-accent-color: auto;
}
